{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="mb-4">{{ view.object|yesno:"Edit Account,Add Account" }}</h1>
      <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
        {% endif %}

<div class="row mb-2">
  <div class="col-md-2">
    <label for="{{ form.customer.id_for_label }}" class="form-label me-2 mb-0">{{ form.customer.label }}</label>
  </div>
  <div class="col-md-6">
    {{ form.customer }}
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2">
    <label for="{{ form.account_type.id_for_label }}" class="form-label me-2 mb-0">{{ form.account_type.label }}</label>
  </div>
  <div class="col-md-6">
    {{ form.account_type }}
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2">
    <label for="{{ form.balance.id_for_label }}" class="form-label me-2 mb-0">{{ form.balance.label }}</label>
  </div>
  <div class="col-md-6">
    {{ form.balance }}
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2">
    <label for="{{ form.status.id_for_label }}" class="form-label me-2 mb-0">{{ form.status.label }}</label>
  </div>
  <div class="col-md-6">
    {{ form.status }}
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-2">

  </div>
  <div class="col-md-6">
          <button type="submit" class="btn btn-primary">Save</button>
          <a href="{% url 'account_list' %}">Back to list</a>
  </div>
</div>


      </form>
    </div>
  </div>
</div>
{% endblock %}